target/
!.mvn/wrapper/maven-wrapper.jar

### Maven ###
log/
*.log
*.err
*.war
*.ear
*.zip
*.tar.gz
*.rar

### IDEs ###
# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# VS Code
.vscode/

### OS ###
Thumbs.db
.DS_Store

### Environment ###
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
